/* Global style */
* {
  box-sizing: border-box;
}

body {
  background-color: #070c2c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Verdana, Geneva,
    Tahoma, sans-serif;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  max-width: 1075px;
  width: 100%;
}

/***************** nav style ***************/

.logo img {
  height: 5em;
  margin: 0px 0px -85px -23px;
  max-width: 200px;
  position: relative;
  z-index: 1;
}

/******************** nav style *******************/

.topnav {
  align-items: center;

  box-shadow: 0 1px 0 0 #d3d0c5;
  display: flex;
  justify-content: end;
  margin: 0px 5px 0px 5px;
  overflow: hidden;
  padding: 10px 0px 11px 0px;
}

.topnav a {
  color: #ffffff;
  display: block;
  font-size: 17px;
  padding: 14px 16px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}

.topnav .icon {
  box-shadow: -2px 0 0 -1px #d3d0c5;
  display: none;
}

.style-nav {
  float: left;
  overflow: hidden;
}

.style-nav:hover {
  border-bottom: #ffffff solid;
  border-bottom-width: 3px;
}

/*************** tablet nav style ******************/

@media screen and (max-width: 980px) {
  .topnav a:not(:first-child),
  .style-nav {
    display: none;
  }

  .topnav a.icon {
    display: block;
    float: right;
    font-size: 32px;
    margin-top: 30px;
  }

  .logo {
    height: 0px;
  }

  .logo img {
    margin: 10px 0px -105px 12px;
    width: 19em;
  }

  .responsive .icon {
    font-size: 24px;
  }

  .topnav.responsive {
    display: block;
    position: relative;
  }

  .topnav.responsive ul {
    margin-top: 110px;
    padding-left: 0px;
  }

  .responsive .style-nav {
    display: block;
    float: none;
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }

  .topnav {
    display: block;
    margin: 0px 20px 0px 20px;
  }
}
/**************************************************/
/*************** mobile nav style ******************/
/**************************************************/

@media screen and (max-width: 600px) {
  .logo img {
    margin-left: 10px;
  }
}

/*********************************** global footer style ****************************************/

.container-footer-info {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.left-footer-info,
.right-footer-container-info {
  background-color: #132361;
}

.left-footer-info {
  margin: 0px 0px -7px 9px;
  padding: 11.7px;
  padding-left: 162px;
  /* margin: 0px 0px 4px 54px;
  padding: 9.7px; */
}

.left-footer-info li {
  list-style-type: none;
  text-align: left;
  margin-left: -270px;
  margin-top: 58px;
  font-size: 20px;
}

.left-footer-info a {
  text-decoration: none;
  color: #ffffff;
}

.left-footer-logo img {
  height: 5em;
  margin-top: 23px;
  object-fit: contain;
  margin-left: -111px;
  /* width: 100%; */
}

.left-footer-info i {
  font-size: 30px;
  color: #6bb7bf;
  padding: 5px;
}

.right-footer-container-info {
  flex: 50%;
  margin: 0px 9px -8px 8px;
  padding: 10px;
  /* flex: 50%;
  margin: 0px 54px 4px 3px;
  padding: 10px; */
}

.right-footer-nav ul {
  column-count: 2;
  list-style-type: none;
  margin: 0px 60px 37px 0px;
  position: relative;
}

.right-footer-nav-style a {
  color: #fff;
  font-size: 18px;
  line-height: 38px;
  padding: 2px;
  text-decoration: none;
}

.right-footer-nav-style a:hover,
.left-footer-info a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/****************** Footer social media style ***************/

.right-footer-social-media i {
  font-size: 69px;
  height: 96px;
  width: 76px;
}

.fa-github {
  color: #8a63d2;
}

.fa-linkedin {
  color: #1ea1f3;
}
.fa-file-lines {
  color: #6bb7bf;
}

.fa-github:hover,
.fa-linkedin:hover,
.fa-file-lines:hover,
.left-footer-info i:hover {
  filter: brightness(130%);
}

/************** Footer copyrigt style *********************/
.right-copyright-info h3 {
  color: #fff;
  font-size: 11px;
}

/*************************** Responsive tablet footer style  *********************************/
/********************************************************************************************/

@media screen and (max-width: 1039px) {
  .container-footer-info {
    flex-direction: column;
  }

  .left-footer-info,
  .right-footer-container-info {
    margin: 4px 9px 0px 9px;
    padding: 60.7px;
    text-align: center;
  }

  .left-footer-info li {
    text-align: center;
    margin-left: 0;
  }

  .right-footer-nav ul {
    column-count: 1;
  }
  .left-footer-info span {
    display: block;
    font-size: 20px;
  }

  .left-footer-info i {
    margin-bottom: 26px;
  }
  .left-footer-logo img {
    margin-left: 0px;
  }
}

/********************************************************************************************/
/*************************** Responsive mobile footer style  *********************************/
/********************************************************************************************/

@media screen and (max-width: 649px) {
  .right-footer-nav ul {
    margin-right: 45px;
  }

  .right-footer-container-info h2 {
    text-align: center;
  }
}

/*****************global button style**************/
.btn-cv,
.btn-portfolio {
  border-radius: 5px;
  display: inline-block;
  font-size: 1em;
  padding: 15px 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.about-btn-cv {
  border-radius: 5px;
  display: inline-block;
  font-size: 0.8em;
  padding: 0px 23%;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 100px;
}

/* .about-btn-cv-style {
  margin-top: 100px;
} */

.btn-cv,
.btn-portfolio,
.about-btn-cv {
  color: #fff;
}

.btn-cv,
.btn-view-portfolio,
.about-btn-cv {
  background-color: #6bb7bf;
}

.btn-portfolio {
  background-color: #bf63b9;
}

.btn-view-portfolio {
  border: none;
  border-radius: 5px;
  outline: 0;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  width: 100%;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-size: 1em;
  padding: 15px 0px;
}

.btn-cv:hover,
.btn-portfolio:hover,
.btn-view-portfolio {
  filter: brightness(115%);
}

@media screen and (max-width: 800px) {
  .about-btn-cv {
    top: -17px;
    position: relative;
  }
}

@media screen and (max-width: 500px) {
  .btn-cv,
  .btn-portfolio {
    margin-top: 10px;
    padding: 19px;
    width: 70%;
    margin-left: 92px;
  }

  .footer-info-left a {
    font-size: 18px;
    line-height: 64px;
    padding: 0px;
  }

  /* .footer-info-left li {
    margin-left: -31px;
  } */
}

/*****************global heading style**************/

.heading-speciality,
.heading-frontend,
.heading-work-education,
.heading-about,
.heading-interest {
  padding-top: 0px;
  font-size: 24px;
  margin-left: 5px;
  padding-top: 15px;
}
.heading-speciality,
.heading-frontend,
.heading-work-education,
.heading-about,
.heading-interest,
.right-footer-container-info h2 {
  color: #ffffff;
}

/*****************intro start page **************/

.intro-main-img {
  background-image: url("../images/intro_background_img.jpeg");
}

.intro-second-img {
  background-image: url("../images/aina_bjerke_intro_img.jpg");
}

/* .right-footer-img-bg,
.left-footer-img-bg {
  background-image: url("../images/footer_bg.jpg");
}

.right-footer-img-bg,
.left-footer-img-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-footer-img-bg {
  margin-top: 34px;
  opacity: 0.5;
  width: 100%;
}

.left-footer-img-bg {
  margin-top: 34px;
  opacity: 0.5;
  width: 32%;
} */

.intro-main-img,
.intro-second-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 729px;
}

.intro-main-img {
  margin-top: 34px;
  opacity: 0.5;
  width: 100%;
}

.intro-second-img {
  margin-top: -724px;
  opacity: 0.9;
  width: 49%;
}

.intro-main-text {
  color: #ffffff;
  background: rgba(7, 12, 44, 0.5);
  border-radius: 3px;
  font-weight: bold;
  left: 76%;
  margin-left: -33px;
  max-width: 515px;
  padding: 28px;
  position: relative;
  text-align: center;
  top: -234px;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* color: #ffffff;
  background: rgba(7, 12, 44, 0.5);
  border-radius: 3px;
  border: 3px solid #f1f1f1; 
  font-weight: bold;
  left: 50%;
  max-width: 800px;
  padding: 20px;
  position: relative;
  text-align: center;
  top: -401px;
  transform: translate(-50%, -50%);
  z-index: 2; */
}

@media screen and (max-width: 940px) {
  .intro-second-img {
    display: none;
  }
  .intro-main-text {
    left: 50%;
    max-width: 800px;
    padding: 20px;
    top: -401px;
  }
}

@media screen and (max-width: 500px) {
  .intro-section-btns {
    display: flex;
    flex-direction: column;
  }
  .intro-main-text h1,
  .intro-main-text h2 {
    left: 32px;
    top: 17px;
    position: relative;
    font-size: 1.5rem;
  }
}
/*****************portfolio section**************/

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item {
  /* background-color: #f1f1f1; */
  background-color: #ffffff;
  padding: 10px;
  flex: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.flex-item img {
  width: 100%;
}

.flex-item h2 {
  font-size: 30px;
}

.flex-item p {
  font-size: 20px;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-item {
    margin-top: 10px;
  }
}

/************** speciality style **************/

.speciality-style img {
  width: 70%;
}

/*****************frontend style ****************/
.frontend-style img {
  width: 35%;
}

/*******************about section **************/
.flex-container-about {
  display: flex;
  align-items: stretch;
  margin-top: 23px;
}

.flex-container-about > div {
  background-color: #ffffff;
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

@media (max-width: 800px) {
  .flex-container-about {
    flex-direction: column;
  }
}

/**icon bar home page style**/

.icon-bar {
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 8px;
  margin-top: 27px;
  overflow: auto;
  position: relative;
  width: 98.5%;
  z-index: 1;
  margin-bottom: 21px;
}

.icon-bar p {
  color: #28235d;
  float: left;
  font-size: 22px;
  padding: 2px 0;
  text-align: center;
  transition: all 0.3s ease;
  width: 20%;
}

p span {
  display: block;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .icon-bar {
    display: none;
  }
  .heading-interest {
    display: none;
  }
}
