* {
  box-sizing: border-box;
}

body {
  background-color: #070c2c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Verdana, Geneva,
    Tahoma, sans-serif;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  max-width: 1075px;
  width: 100%;
}

/***************** nav style ***************/

.logo img {
  height: 5em;
  margin: 0px 0px -85px -23px;
  max-width: 200px;
  position: relative;
  z-index: 1;
}

/******************** nav style *******************/

.topnav {
  align-items: center;

  box-shadow: 0 1px 0 0 #d3d0c5;
  display: flex;
  justify-content: end;
  margin: 0px 5px 0px 5px;
  overflow: hidden;
  padding: 10px 0px 11px 0px;
}

.topnav a {
  color: #ffffff;
  display: block;
  font-size: 17px;
  padding: 14px 16px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}

.topnav .icon {
  box-shadow: -2px 0 0 -1px #d3d0c5;
  display: none;
}

.style-nav {
  float: left;
  overflow: hidden;
}

.style-nav:hover {
  border-bottom: #ffffff solid;
  border-bottom-width: 3px;
}

/*************** tablet nav style ******************/

@media screen and (max-width: 980px) {
  .topnav a:not(:first-child),
  .style-nav {
    display: none;
  }

  .topnav a.icon {
    display: block;
    float: right;
    font-size: 32px;
    margin-top: 30px;
  }

  .logo {
    height: 0px;
  }

  .logo img {
    margin: 10px 0px -105px 12px;
    width: 19em;
  }

  .responsive .icon {
    font-size: 24px;
  }

  .topnav.responsive {
    display: block;
    position: relative;
  }

  .topnav.responsive ul {
    margin-top: 110px;
    padding-left: 0px;
  }

  .responsive .style-nav {
    display: block;
    float: none;
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }

  .topnav {
    display: block;
    margin: 0px 20px 0px 20px;
  }
}
/**************************************************/
/*************** mobile nav style ******************/
/**************************************************/

@media screen and (max-width: 600px) {
  .logo img {
    margin-left: 10px;
  }
}

/*********************************** global footer style ****************************************/

.container-footer-info {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.left-footer-info,
.right-footer-container-info {
  background-color: #132361;
}

.left-footer-info {
  margin: 0px 0px -7px 9px;
  padding: 11.7px;
  padding-left: 162px;
}

.left-footer-info li {
  list-style-type: none;
  text-align: left;
  margin-left: -270px;
  margin-top: 40px;
  font-size: 20px;
}

.left-footer-info a {
  text-decoration: none;
  color: #ffffff;
}

.left-footer-logo img {
  height: 5em;
  margin-top: 0px;
  object-fit: contain;
  margin-left: -111px;
}

.left-footer-info i {
  font-size: 30px;
  color: #6bb7bf;
  padding: 5px;
}

.right-footer-container-info {
  flex: 50%;
  margin: 0px 9px -8px 8px;
  padding: 31px;
}

.right-footer-nav ul {
  column-count: 2;
  list-style-type: none;
  margin: 0px 60px 37px 0px;
  position: relative;
}

.right-footer-nav-style a {
  color: #fff;
  font-size: 18px;
  line-height: 38px;
  padding: 2px;
  text-decoration: none;
}

.right-footer-nav-style a:hover,
.left-footer-info a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/****************** Footer social media style ***************/

.right-footer-social-media i {
  font-size: 69px;
  height: 96px;
  width: 76px;
}

.fa-github {
  color: #8a63d2;
}

.fa-linkedin {
  color: #1ea1f3;
}
.fa-file-lines {
  color: #6bb7bf;
}

.fa-github:hover,
.fa-linkedin:hover,
.fa-file-lines:hover,
.left-footer-info i:hover {
  filter: brightness(130%);
}

/************** Footer copyrigt style *********************/
.right-copyright-info h3 {
  color: #fff;
  font-size: 11px;
}

/*************************** Responsive tablet footer style  *********************************/
/********************************************************************************************/

@media screen and (max-width: 1039px) {
  .container-footer-info {
    flex-direction: column;
  }

  .left-footer-info,
  .right-footer-container-info {
    margin: 4px 9px 0px 9px;
    padding: 60.7px;
    text-align: center;
  }

  .left-footer-info li {
    text-align: center;
    margin-left: 0;
  }

  .right-footer-nav ul {
    column-count: 1;
  }
  .left-footer-info span {
    display: block;
    font-size: 20px;
  }

  .left-footer-info i {
    margin-bottom: 26px;
  }
  .left-footer-logo img {
    margin-left: 0px;
  }
}

/********************************************************************************************/
/*************************** Responsive mobile footer style  *********************************/
/********************************************************************************************/

@media screen and (max-width: 649px) {
  .right-footer-nav ul {
    margin-right: 45px;
  }

  .right-footer-container-info h2 {
    text-align: center;
  }

  .footer-info-left a {
    font-size: 18px;
    line-height: 64px;
    padding: 0px;
  }
  .left-footer-info {
    padding: 34.7px;
  }
}

@media screen and (max-width: 450px) {
  .left-footer-info li {
    margin-left: 0px;
  }

  .footer-info-left li {
    column-count: 1;
  }
}

/*****************global button style**************/
.btn-cv,
.btn-portfolio,
.portfolioBtn {
  font-size: 1em;
}

.btn-cv,
.btn-portfolio {
  padding: 15px 36px;
}

.btn-cv,
.btn-portfolio,
.btn-webpage,
.btn-github,
.portfolioBtn,
.about-btn-cv {
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
}

.btn-webpage,
.btn-github {
  font-size: 0.9em;
  padding: 15px 10px;
}

.portfolioBtn {
  width: 100%;
  padding: 15px 0px;
}

.about-btn-cv {
  width: 98%;
  padding: 29px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.5em;
}

.btn-cv,
.btn-view-portfolio,
.about-btn-cv,
.portfolioBtn,
.btn-webpage {
  background-color: #20818c;
}

.btn-portfolio,
.btn-github {
  background-color: #5a4bbf;
}

.btn-cv i,
.btn-portfolio i,
.btn-github i {
  color: #ffffff;
}

button {
  border: none;
}

.btn-cv:hover,
.btn-portfolio:hover,
.btn-view-portfolio:hover,
.about-btn-cv:hover,
.portfolioBtn:hover,
.portfolio-section img:hover,
.btn-webpage:hover,
.btn-github:hover {
  filter: brightness(115%);
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .about-btn-cv {
    top: -17px;
    position: relative;
    width: 97.4%;
  }
}

@media screen and (max-width: 500px) {
  .btn-cv,
  .btn-portfolio {
    margin-top: 10px;
    padding: 19px;
    width: 70%;
    margin-left: 92px;
  }

  .btn-webpage,
  .btn-github {
    margin: 10px;
  }
  .about-btn-cv {
    width: 95.9%;
    margin-top: 34px;
  }
}

/*****************global heading style**************/

.heading-speciality,
.heading-frontend,
.heading-work-education,
.heading-about,
.heading-interest {
  padding-top: 0px;
  font-size: 24px;
  margin-left: 5px;
  padding-top: 15px;
}
.heading-speciality,
.heading-frontend,
.heading-work-education,
.heading-about,
.heading-interest,
.right-footer-container-info h2 {
  color: #ffffff;
}

/*****************intro start page **************/

.intro-main-img {
  background-image: url("../images/intro_background_img.jpeg");
}

.intro-second-img {
  background-image: url("../images/aina_bjerke_intro_img.jpg");
}

.intro-main-img,
.intro-second-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 729px;
}

.intro-main-img {
  margin-top: 34px;
  opacity: 0.5;
  width: 100%;
}

.intro-second-img {
  margin-top: -724px;
  opacity: 0.9;
  width: 49%;
}

.intro-main-text {
  color: #ffffff;
  background: rgba(7, 12, 44, 0.5);
  border-radius: 3px;
  font-weight: bold;
  left: 76%;
  margin-left: -33px;
  max-width: 515px;
  padding: 28px;
  position: relative;
  text-align: center;
  top: -234px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.small-img-ab {
  display: none;
}

@media screen and (max-width: 940px) {
  .intro-second-img {
    display: none;
  }
  .intro-main-text {
    left: 50%;
    max-width: 800px;
    padding: 20px;
    top: -362px;
  }
  .small-img-ab {
    display: block;
  }

  .small-img-ab img {
    width: 46%;
    opacity: 0.9;
  }
}

@media screen and (max-width: 500px) {
  .intro-main-img {
    margin-top: -161px;
  }
  .intro-section-btns {
    display: flex;
    flex-direction: column;
  }
  .intro-main-text h1,
  .intro-main-text h2 {
    left: 32px;
    top: 17px;
    position: relative;
    font-size: 1.5rem;
  }
  .small-img-ab {
    display: none;
  }
}

/*****************portfolio section**************/

.heading-portfolio h2 {
  margin-top: -165px;
}

.container-portfolio {
  margin-top: -93px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.closeOne,
.closeTwo,
.closeThree {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeOne:hover,
.closeOne:focus,
.closeTwo:hover,
.closeTwo:focus,
.closeThree:hover,
.closeThree:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 62%;
}

.flex-item-left img {
  max-width: 497px;
  margin-top: 29px;
  width: 93%;
}

/***do something about name flex-item-right inside modal **/
.flex-item-right {
  padding: 45px;
  flex: 50%;
  text-align: left;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.portfolio-section img {
  width: 100%;
}

.portfolio-section img:hover,
.portfolio-section p:hover {
  cursor: pointer;
}

.portfolio-section p {
  color: #ffff;
  text-decoration: none;
}

.portfolio-section p:hover {
  text-decoration: underline;
}

.portfolio-section p {
  display: flex;
  font-size: 17px;
  justify-content: center;
}

.modal-code-style {
  font-size: 1.4rem;
  padding: 0.35rem 1.2rem;
  background-color: #5a4bbf;
  border-radius: 5px;
  display: inline;
  color: #ffffff;
}

.modal-project-header h2 {
  font-size: 2.7rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  margin-top: -20px;
}
.modal-project-sub-header h2 {
  font-size: 2rem;
}

.modal-project-sub-header p,
.modal-project-list li {
  font-size: 1.6rem;
}

.modal-project-list li {
  margin-left: 0.2rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 950px) {
  .column {
    display: block;
    width: 100%;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
  }

  .heading-portfolio h2 {
    margin-top: -479px;
  }

  .container-portfolio {
    margin-top: -420px;
  }
}

@media screen and (max-width: 460px) {
  .modal-code-style {
    font-size: 0.9rem;
  }
}
/*****************specialiy section**************/

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item {
  background-color: #ffffff;
  padding: 10px;
  flex: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.flex-item img {
  width: 100%;
}

.flex-item h2 {
  font-size: 30px;
}

.flex-item p {
  font-size: 20px;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 950px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-item {
    margin-top: 10px;
  }
}

/************** speciality style **************/

.speciality-style img {
  width: 70%;
}

/*****************frontend style ****************/
.frontend-style img {
  width: 35%;
}

/*******************about section **************/
.flex-container-about {
  display: flex;
  align-items: stretch;
  margin-top: 23px;
}

.flex-container-about > div {
  background-color: #ffffff;
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.about-img {
  object-fit: contain;
  height: 411px;
}

.content-biography h2,
.content-biography p {
  color: black;
}

.content-biography p {
  text-align: center;
  font-size: 1rem;
}

.content-biography span {
  display: block;
}

@media (max-width: 885px) {
  .flex-container-about {
    flex-direction: column;
  }

  .about-img {
    object-fit: contain;
    height: 434px;
  }
}

/**icon bar home page style**/

.icon-bar {
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 8px;
  margin-top: 27px;
  overflow: auto;
  position: relative;
  width: 98.5%;
  z-index: 0;
  margin-bottom: 21px;
}

.icon-bar p {
  color: #28235d;
  float: left;
  font-size: 22px;
  padding: 2px 0;
  text-align: center;
  transition: all 0.3s ease;
  width: 20%;
}

p span {
  display: block;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .icon-bar {
    display: none;
  }
  .heading-interest {
    display: none;
  }
}
