/*** *** *** ANIMATION HEROBANNER SECTION:  *** *** ***/
.anim-text-banner {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  padding: 38px 480px;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: -434px;
  margin-top: -23px;
  // @media screen and (min-width: 568px) and (max-width: 767px)
  @include respond-between(xs, sm) {
    margin-left: -463px;
  }
  // @media screen and (max-width: 567px)
  @include respond-below(xs) {
    text-transform: lowercase;
    padding: 38px;
    margin-left: -227px;
  }
  > span {
    position: absolute;
    display: inline-block;
    clip: rect(0px, 0px, 300px, 0px);
    color: #c9d1d9;
  }

  .anim-text-parent {
    position: relative;
    color: $light-blue-color;
    margin-left: 121px;
    margin-bottom: -20px;
    // @media screen and (min-width: 1200px)
    @include respond-above(lg) {
      margin-left: 121px;
    }
    // @media screen and (min-width: 991px) and (max-width: 1199px)
    @include respond-between(md, lg) {
      margin-left: 172px;
    }
    // @media screen and (min-width: 768px) and (max-width: 991px)
    @include respond-between(sm, md) {
      margin-left: 154px;
    }
    // @media screen and (min-width: 568px) and (max-width: 767px)
    @include respond-between(xs, sm) {
      margin-left: 93px;
    }
    // @media screen and (max-width: 567px)
    @include respond-below(xs) {
      margin-left: 65%;
    }
    > .v-bar {
      position: absolute;
      width: 0px;
      height: 0.8em;
      background: $light-blue-color;
      display: inline-block;
      top: -66px;
      left: -20px;
      transform: translate(-100%, 450%);
      @include respond-below(xs) {
        display: none;
      }
    }
    > .anim-text {
      overflow: hidden;
      white-space: nowrap;
      top: 0;
      left: 0;
      position: absolute;
      transition: width 1s ease;
      clip: rect(0px, 0px, 300px, 0px);
      @include respond-below(xs) {
        margin-left: -43%;
      }
    }
  }
}
