.heading {
  &__portfolio {
    color: $white-color;
    margin-top: -490px;
    // margin-top: -387px;
    margin-left: 5px;
    background: -webkit-linear-gradient(300deg, #93f5ec 20%, #a77bf3 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (min-width: 768px) and (max-width: 990px) {
      margin-top: -587px;
    }
    @media screen and (min-width: 568px) and (max-width: 767px) {
      margin-top: -766px;
    }
    @media screen and (max-width: 567px) {
      margin-top: -964px;
    }
  }
  &__skills {
    color: $white-color;
    margin-top: 100px;
    margin-bottom: -134px;
    background: -webkit-linear-gradient(300deg, #93f5ec 20%, #a77bf3 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__frontend {
    color: $white-color;
    margin-top: 100px;
    margin-bottom: -80px;
    background: -webkit-linear-gradient(300deg, #93f5ec 20%, #a77bf3 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__work--education {
    color: $white-color;
    margin-top: 160px;
    margin-bottom: 50px;
    background: -webkit-linear-gradient(300deg, #93f5ec 20%, #a77bf3 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and (min-width: 768px) and (max-width: 990px) {
      margin-top: -20px;
    }
    @media screen and (min-width: 568px) and (max-width: 767px) {
      margin-top: -20px;
    }
    @media screen and (max-width: 567px) {
      margin-top: -20px;
    }
  }
  &__about {
    color: $white-color;
    margin-top: 138px;
    margin-bottom: 30px;
    background: -webkit-linear-gradient(300deg, #93f5ec 20%, #a77bf3 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__infobar {
    color: $white-color;
    margin-top: 66px;
    margin-bottom: 37px;
    background: -webkit-linear-gradient(300deg, #93f5ec 20%, #a77bf3 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
