.about {
  margin-left: 5px;
  margin-left: 5px;
  opacity: 0;
  transform: scale(0.96) translateY(24px);
  transition: opacity 0.7s cubic-bezier(0.16, 1, 0.3, 1),
    transform 0.7s cubic-bezier(0.16, 1, 0.3, 1);

  &.animate {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  &__container {
    margin-top: 15px;
  }
  &__content {
    background-color: $white-color;
    margin-bottom: 10px;
    // @media screen and (min-width: 992px) {
    //   height: 370px;
    // }
    // @media screen and (min-width: 768px) and (max-width: 991px) {
    //   height: 337px;
    // }
    // @media screen and (min-width: 568px) and (max-width: 767px) {
    //   height: 310px;
    // }
    // @media screen and (max-width: 567px) {
    //   margin-bottom: 10px;
    // }
  }

  &__img--l {
    // @media screen and (min-width: 1200px)
    @include respond-above(lg) {
      // width: 83%;
      // margin-left: auto;
      // margin-right: auto;
      width: 90%;
      margin-top: 14px;
    }
    // @media screen and (min-width: 992px) and (max-width: 1199px)
    @include respond-between(md, lg) {
      width: 95%;
      margin-top: 17px;
    }
    // @media screen and (min-width: 768px) and (max-width: 991px)
    @include respond-between(sm, md) {
      width: 70%;
      margin-left: auto;
      margin-top: 0px;
      margin-right: 40px;
    }
    // @media screen and (min-width: 568px) and (max-width: 767px)
    @include respond-between(xs, sm) {
      width: 76%;
      margin-left: auto;
      margin-top: 0px;
    }
    // @media screen and (max-width: 567px)
    @include respond-below(xs) {
      width: 76%;
      margin-left: auto;
      margin-top: 0px;
    }
  }

  &__img--r {
    // @media screen and (min-width: 1200px)
    @include respond-above(lg) {
      width: 71%;
      margin-left: 181px;
    }
    // @media screen and (min-width: 992px) and (max-width: 1199px)
    @include respond-between(md, lg) {
      width: 68%;
      margin-left: 165px;
    }
    // @media screen and (min-width: 768px) and (max-width: 991px)
    @include respond-between(sm, md) {
      width: 67%;
      margin-left: 188px;
    }
    // @media screen and (min-width: 568px) and (max-width: 767px)
    @include respond-between(xs, sm) {
      width: 67%;
      margin-left: 138px;
    }
    // @media screen and (max-width: 567px)
    @include respond-below(xs) {
      //   width: 67%;
      //   margin-left: auto;
      //   margin-right: -25%;
      width: 70%;
      margin-left: 31%;
    }
  }
  &__content-r {
    // @media screen and (min-width: 768px) and (max-width: 991px)
    @include respond-between(sm, md) {
      height: 446px;
    }
    // @media screen and (min-width: 568px) and (max-width: 767px)
    @include respond-between(xs, sm) {
      height: 442px;
    }
    // @media screen and (min-width: 568px) and (max-width: 767px) {
    //   height: 442px;
    // }
    // @media screen and (max-width: 567px)
    @include respond-below(xs) {
      height: 650px;
    }
  }

  &__text {
    // @media screen and (min-width: 1200px)
    @include respond-above(lg) {
      margin-top: -134px;
      margin-left: -131px;
    }
    // @media screen and (min-width: 992px) and (max-width: 1199px)
    @include respond-between(md, lg) {
      margin-top: -50px;
      margin-left: -5px;
    }
    // @media screen and (min-width: 768px) and (max-width: 991px)
    @include respond-between(sm, md) {
      margin-top: -50px;
      margin-left: 31px;
    }
    // @media screen and (min-width: 568px) and (max-width: 767px)
    @include respond-between(xs, sm) {
      margin-top: -50px;
      margin-left: 31px;
    }
    // @media screen and (max-width: 567px) {
    //   margin-top: 88px;
    //   margin-left: -148px;
    //   padding-bottom: 63px;
    // }
    // @media screen and (max-width: 567px)
    @include respond-below(xs) {
      margin-top: -40px;
      margin-left: 31px;
      margin-bottom: 20px;
    }
  }
  &__btn {
    margin-top: -11px;
  }
}

// .frontend {
//     &__container {
//       margin-top: 300px;
//     }

//     &__content {
//       background-color: $white-color;
//       margin-left: 5px;
//       text-align: center;
//       height: 180px;
//       @media screen and (min-width: 768px) and (max-width: 991px) {
//         margin-bottom: 196px;
//       }
//       @media screen and (min-width: 568px) and (max-width: 765px) {
//         margin-bottom: 196px;
//       }
//       @media screen and (max-width: 567px) {
//         margin-bottom: 196px;
//       }
//     }

//     &__img {
//       margin-left: auto;
//       margin-right: auto;
//       @media screen and (min-width: 1200px) {
//         margin-top: -122px;
//         width: 129.18px;
//         height: 216.08px;
//         //   margin-left: auto;
//         //   margin-right: auto;
//       }
//       @media screen and (min-width: 991px) and (max-width: 1199px) {
//         margin-top: -118px;
//         width: 129.18px;
//         height: 229.08px;
//         //   margin-left: auto;
//         //   margin-right: auto;
//       }
//       @media screen and (min-width: 768px) and (max-width: 991px) {
//         margin-top: -108px;
//         width: 118.18px;
//         height: 200.08px;
//         //   margin-left: auto;
//         //   margin-right: auto;
//       }
//       @media screen and (min-width: 568px) and (max-width: 765px) {
//         margin-top: -113px;
//         width: 122.18px;
//         height: 200.08px;
//         //   margin-left: auto;
//         //   margin-right: auto;
//       }
//       @media screen and (max-width: 567px) {
//         margin-top: -119px;
//         width: 124.18px;
//         height: 211.08px;
//         //   margin-left: auto;
//         //   margin-right: auto;
//       }
//     }

//     &__text {
//       margin-top: -10px;
//     }

//     &__heading {
//       @media screen and (min-width: 991px) and (max-width: 1999px) {
//         font-size: 25px;
//       }
//     }
//     &__paragraph {
//       padding: 2px;
//     }
//   }
