.frontend {
  &__container {
    margin-top: 300px;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      margin-bottom: -173px;
    }
    @media screen and (min-width: 568px) and (max-width: 767px) {
      margin-bottom: -173px;
    }
    @media screen and (max-width: 567px) {
      margin-bottom: -173px;
    }
  }

  &__content {
    background-color: $white-color;
    margin-left: 5px;
    height: 180px;
    text-align: center;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      margin-bottom: 196px;
    }
    @media screen and (min-width: 568px) and (max-width: 767px) {
      margin-bottom: 196px;
    }
    @media screen and (max-width: 567px) {
      margin-bottom: 196px;
    }
  }

  &__img {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 1200px) {
      margin-top: -122px;
      width: 129.18px;
      height: 216.08px;
      //   margin-left: auto;
      //   margin-right: auto;
    }
    @media screen and (min-width: 991px) and (max-width: 1199px) {
      margin-top: -118px;
      width: 129.18px;
      height: 229.08px;
      //   margin-left: auto;
      //   margin-right: auto;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      margin-top: -108px;
      width: 118.18px;
      height: 200.08px;
      //   margin-left: auto;
      //   margin-right: auto;
    }
    @media screen and (min-width: 568px) and (max-width: 765px) {
      margin-top: -113px;
      width: 122.18px;
      height: 200.08px;
      //   margin-left: auto;
      //   margin-right: auto;
    }
    @media screen and (max-width: 567px) {
      margin-top: -119px;
      width: 124.18px;
      height: 211.08px;
      //   margin-left: auto;
      //   margin-right: auto;
    }
  }

  &__text {
    margin-top: -10px;
  }

  &__heading {
    @media screen and (min-width: 991px) and (max-width: 1999px) {
      font-size: 25px;
    }
  }
  &__paragraph {
    padding: 2px;
  }
}
