.herobanner {
  // @media screen and (min-width: 991px) and (max-width: 1199px)
  @include respond-between(md, lg) {
    margin-top: -50px;
  }
  // @media screen and (min-width: 768px) and (max-width: 990px)
  @include respond-between(sm, md) {
    margin-top: -144px;
  }
  // @media screen and (min-width: 568px) and (max-width: 767px)
  @include respond-between(xs, sm) {
    margin-top: -213px;
  }
  // @media screen and (max-width: 567px)
  @include respond-below(xs) {
    margin-top: -165px;
  }

  &__img--primary {
    background-image: url("../images/intro_background_img.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 930px;
    margin-top: 100px;
    opacity: 0.5;
    width: 100%;
    // @media screen and (max-width: 567px)
    @include respond-below(xs) {
      margin-top: -161px;
    }
  }

  &__img--secondary {
    background-image: url("../images/aina.bjerke_main_bg2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 729px;
    margin-top: -724px;
    opacity: 0.9;
    // @media screen and (min-width: 1200px)
    @include respond-above(lg) {
      width: 40%;
    }
    // @media screen and (min-width: 991px) and (max-width: 1199px)
    @include respond-between(md, lg) {
      width: 38%;
      position: relative;
      z-index: 2;
    }
    // @media screen and (max-width: 990px)
    @include respond-below(md) {
      display: none;
    }
  }

  &__content {
    color: #ffffff;
    background: rgba(7, 12, 44, 0.5);
    border-radius: 3px;
    max-width: 715px;
    position: relative;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;
    // @media screen and (min-width: 1200px)
    @include respond-above(lg) {
      left: 76%;
      margin-left: -42px;
      padding: 65px;
      top: -305px;
    }
    // @media screen and (min-width: 991px) and (max-width: 1199px)
    @include respond-between(md, lg) {
      left: 70%;
      padding: 18px;
      top: -346px;
      margin-left: -60px;
    }
    // @media screen and (min-width: 768px) and (max-width: 990px)
    @include respond-between(sm, md) {
      left: 50%;
      max-width: 700px;
      padding: 20px;
      top: -418px;
    }
    // @media screen and (min-width: 568px) and (max-width: 767px)
    @include respond-between(xs, sm) {
      left: 50%;
      max-width: 700px;
      padding: 20px;
      top: -418px;
    }

    // @media screen and (max-width: 567px)
    @include respond-below(xs) {
      left: 50%;
      max-width: 800px;
      padding: 36px;
      top: -465px;
    }
  }

  &__img--tertiary {
    display: none;
    // @media screen and (min-width: 768px) and (max-width: 990px)
    @include respond-between(sm, md) {
      width: 50%;
      opacity: 0.7;
      display: block;
    }
    // @media screen and (min-width: 568px) and (max-width: 767px)
    @include respond-between(xs, sm) {
      width: 100%;
      opacity: 0.6;
      display: block;
      margin-top: 282px;
    }
    // @media screen and (max-width: 567px)
    @include respond-below(xs) {
      width: 100%;
      opacity: 0.6;
      display: block;
      margin-top: 461px;
    }
  }

  &__heading--small {
    color: #8193b2;
    text-align: left;
    padding: 10px;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    // @media screen and (min-width: 1200px)
    @include respond-above(lg) {
      margin-left: 69px;
    }
    // @media screen and (min-width: 991px) and (max-width: 1199px)
    @include respond-between(md, lg) {
      margin-left: 120px;
    }
    // @media screen and (min-width: 768px) and (max-width: 990px)
    @include respond-between(sm, md) {
      margin-left: 106px;
    }
    // @media screen and (min-width: 568px) and (max-width: 767px)
    @include respond-between(xs, sm) {
      margin-left: 16px;
    }
    // @media screen and (max-width: 567px)
    @include respond-below(xs) {
      text-align: center;
    }
  }

  &__subheading {
    font-size: 30px;
    padding: 10px;
    font-weight: 550;
    margin-left: -168px;
  }

  &__paragraph {
    font-weight: normal;
    font-size: 1em;
    // @media screen and (min-width: 768px) and (max-width: 990px)
    @include respond-between(sm, md) {
      padding-bottom: 34px;
    }
    // @media screen and (min-width: 568px) and (max-width: 767px)
    @include respond-between(xs, sm) {
      padding-bottom: 34px;
    }
    & span {
      // @media screen and (max-width: 990px)
      @include respond-below(md) {
        display: inline;
      }
      // @media screen and (max-width: 360px)
      @include respond-below(xxxs) {
        display: block;
      }
    }
  }

  &__heading {
    color: #8193b2;
    font-size: 40px;
    margin-left: -227px;
    font-weight: 600;
    // @media screen and (min-width: 768px) and (max-width: 990px)
    @include respond-between(sm, md) {
      margin-left: -214px;
    }
    // @media screen and (min-width: 568px) and (max-width: 767px)
    @include respond-between(xs, sm) {
      margin-left: -214px;
    }
    // @media screen and (max-width: 567px)
    @include respond-below(xs) {
      top: 17px;
      position: relative;
      font-size: 1.5rem;
      margin-left: 0;
      margin-right: 0;
    }
    // @media screen and (max-width: 360px)
    @include respond-below(xxxs) {
      top: 26px;
      font-size: 1.2rem;
    }
  }

  &__subheading {
    color: #8193b2;
    // @media screen and (max-width: 567px)
    @include respond-below(xs) {
      top: 17px;
      position: relative;
      font-size: 1.5rem;
      margin-left: 0;
      margin-right: 0;
    }
    // @media screen and (max-width: 360px)
    @include respond-below(xxxs) {
      font-size: 1.2rem;
    }
  }
}
