/*** *** *** NAV MENU:  *** *** ***/

//--- --- NAV MENU STYLE: --- ---//
.nav {
  background-color: $primary-color;
  z-index: 3;
  //   position: relative;
  position: fixed;
  width: 100%;

  & .container {
    // @media screen and (max-width: 991px)
    @include respond-below(md) {
      margin: 0;
      padding: 0;
      max-width: 100%;
    }
  }

  &__top {
    margin: 0;
    align-items: center;

    // @media screen and (max-width: 991px)
    @include respond-below(md) {
      // border-bottom: 1px solid $white-color;
      // border-bottom: 1px solid #8193b2;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  &__trademark {
    width: 100%;
    margin-left: -52px;
    // @media screen and (max-width: 550px)
    @include respond-below(xs) {
      display: none;
    }
  }

  &__trademark--mobile {
    // @media screen and (min-width: 550px)
    @include respond-above(xs) {
      display: none;
    }
  }

  &__logo {
    width: auto;
    height: 95px;
    padding: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &__logo--mobile {
    margin-left: -20px;
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    // @media screen and (max-width: 991px)
    @include respond-below(md) {
      margin-right: 15px;
    }
    // @media screen and (max-width: 519px)
    @include respond-below(xs) {
      display: flex;
      justify-content: flex-start;
      font-size: 33px;
      margin-left: -103px;
    }

    & i:last-child {
      color: $light-green-color;
    }

    & i:hover {
      cursor: pointer;
      color: colors(secondary);
      text-decoration: none;
    }

    & a {
      padding-left: 20px;
    }
    & a:hover {
      text-decoration: none;
    }
  }

  &__menu {
    // @media screen and (min-width: 992px)
    @include respond-above(md) {
      // border-top: 1px solid $white-color;
      // border-top: 1px solid #8193b2;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    // @media (max-width: 991px)
    @include respond-below(md) {
      position: fixed;
      top: 0;
      padding-top: 100px;
      height: 100%;
      z-index: 2;
      background: $primary-color;
      right: 100%;
      width: 100%;
      transform: translateX(0);
      transition: text-indent 0.3s cubic-bezier(0.32, 0.24, 0.15, 1),
        opacity 0.3s cubic-bezier(0.32, 0.24, 0.15, 1),
        transform 0.3s cubic-bezier(0.32, 0.24, 0.15, 1);
    }

    &-icon {
      width: 40px;
      height: 100%;
      padding: 0;

      // @media (min-width: 992px)
      @include respond-above(md) {
        display: none;
      }
    }

    &__list {
      list-style: none;
      // @media (min-width: 992px)
      @include respond-above(md) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        line-height: 75px;
        text-align: center;
        justify-content: center;
      }

      // @media (max-width: 991px)
      @include respond-below(md) {
        display: flex;
        flex-direction: column;
        line-height: 50px;
        text-align: center;
        justify-content: start;
      }
    }

    &__logo-menubar {
      // @media screen and (min-width: 991px)
      @include respond-above(md) {
        display: none;
      }
      // @media screen and (max-width: 991px)
      @include respond-below(md) {
        margin-top: -88px;
        width: 333px;
      }
    }

    &__item {
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 1.5px;

      // @media (min-width: 992px)
      @include respond-above(md) {
        padding: 0px 30px;
      }
      // @media (max-width: 991px)
      @include respond-below(md) {
        padding: 10px 20px;
      }
      & a {
        position: relative;
      }
      & a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        border-radius: 1px;
        background-color: $secondary-color;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }
      & a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }

  &__link {
    color: $white-color;
    text-transform: uppercase;

    // @media screen and (max-width: 991px)
    @include respond-below(md) {
      color: $white-color;
    }

    &:hover {
      //   color: colors(secondary);
      text-decoration: none;
      color: white;
    }
  }
}

//--- --- BURGER MENU OPEN STYLE: --- ---//
// @media (max-width: 991px)
@include respond-below(md) {
  .open-menu {
    left: 0px;
    // right: 0;
  }

  .fixed {
    position: fixed;
  }

  .nav__menu__vertical-line {
    padding: 28px 20px;
    box-shadow: -2.8px 0 0 -0.7px #8193b2;
  }
}
