.skills {
  &__container {
    margin-top: 405px;
  }

  &__content {
    background-color: $white-color;
    margin-left: 5px;
    text-align: center;
    height: 310px;
    // @media screen and (min-width: 768px) and (max-width: 991px) 
    @include respond-between(sm, md){
      margin-bottom: 196px;
    }
    // @media screen and (min-width: 568px) and (max-width: 765px)
    @include respond-between(xs, sm) {
      margin-bottom: 196px;
    }
    // @media screen and (max-width: 567px)
    @include respond-below(xs) {
      margin-bottom: 196px;
    }
  }

  &__img {
    margin-left: auto;
    margin-right: auto;
    // @media screen and (min-width: 1200px)
    @include respond-above(lg) {
      margin-top: -155px;
      width: 269.18px;
      height: 283.08px;
      //   margin-top: -168px;
      //   width: 303.18px;
      //   height: 307.08px;
      //   margin-top: -168px;
      //   width: 328.18px;
      //   height: 323.08px;
      //   margin-left: auto;
      //   margin-right: auto;
    }
    // @media screen and (min-width: 991px) and (max-width: 1199px)
    @include respond-between(md, lg) {
      margin-top: -145px;
      width: 261.18px;
      height: 258.08px;
      //   margin-left: auto;
      //   margin-right: auto;
    }
    // @media screen and (min-width: 768px) and (max-width: 991px)
    @include respond-between(sm, md) {
      margin-top: -145px;
      width: 261.18px;
      height: 258.08px;
      //   margin-left: auto;
      //   margin-right: auto;
    }
    // @media screen and (min-width: 568px) and (max-width: 765px)
    @include respond-between(xs, sm) {
      margin-top: -145px;
      width: 261.18px;
      height: 258.08px;
      //   margin-left: auto;
      //   margin-right: auto;
    }
    // @media screen and (max-width: 567px)
    @include respond-below(xs) {
      margin-top: -145px;
      width: 261.18px;
      height: 258.08px;
      //   margin-left: auto;
      //   margin-right: auto;
    }
  }

  &__text {
    margin-top: -10px;
  }

  &__heading {
    // @media screen and (min-width: 991px) and (max-width: 1999px)
    @include respond-between(md, lg) {
      font-size: 25px;
    }
  }
  &__paragraph {
    padding: 2px;
  }
}

// .skills__container {
//   background-color: white;
//   margin-top: 205px;
//   margin-left: 5px;
//   margin-bottom: -99px;
//   text-align: center;
// }

// <div class="skills__content col-sm-12 col-lg" >
// <div class="skills__img">
// <div class="skills__text">
//                 <h2 class="skills__heading">Content management</h2>
//                  <p class="skills__paragraph">Strapi and Herko</p>
//                  <p class="skills__paragraph">Wordpress</p>
//                  <p class="skills__paragraph">FileZilla</p>
//                  <p class="skills__paragraph">Xamp</p>
