body {
  font-family: "Lato", sans-serif;
}

.anim-text-banner {
  //   font-size: 8vw;
  //   font-size: 1.3vw;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  padding: 38px 480px;
  text-transform: uppercase;
  font-weight: 400;
  //   margin-left: -498px;
  margin-left: -434px;
  margin-top: -23px;
  //   font-size: 8vw;
  // font-size: 4vw;
  // font-weight: bold;
  // white-space: nowrap;

  // padding: 100px 50px;
  // text-transform: uppercase;
  // font-weight: 400;
  @media screen and (min-width: 568px) and (max-width: 767px) {
    margin-left: -463px;
  }
  @media screen and (max-width: 567px) {
    // margin-left: -468px;
    text-transform: lowercase;
    padding: 38px;
    margin-left: -227px;
  }
  > span {
    position: absolute;
    display: inline-block;
    clip: rect(0px, 0px, 300px, 0px);
    color: #c9d1d9;
  }
}

// .anim-text span {
//   display: block;
//   background-color: red;
// }
// .span-linebreak {
//   display: inline-block;
// }

.anim-text-parent {
  position: relative;
  //   color: #ff9933;
  color: #48c3cf;
  //   margin-left: 56px;
  //   margin-left: 100px;
  margin-left: 121px;
  margin-bottom: -20px;
  //   margin-left: 172px;
  @media screen and (min-width: 1200px) {
    margin-left: 121px;
  }
  @media screen and (min-width: 991px) and (max-width: 1199px) {
    margin-left: 172px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    margin-left: 154px;
  }
  @media screen and (min-width: 568px) and (max-width: 767px) {
    margin-left: 93px;
  }
  @media screen and (max-width: 567px) {
    margin-left: 65%;
  }
  > .v-bar {
    position: absolute;
    width: 0px;
    height: 0.8em;
    // height: 1vw;
    background: #ff9933;
    background: #48c3cf;
    display: inline-block;
    top: 0px;
    top: -65px;
    left: -20px;
    transform: translate(-100%, 450%);
  }
  > .anim-text {
    overflow: hidden;
    white-space: nowrap;
    top: 0;
    left: 0;
    position: absolute;
    transition: width 1s ease;
    clip: rect(0px, 0px, 300px, 0px);
  }
}

// textarea{
//   width: 100%;
//   max-width: 598px;
//   height: 100%;
//   margin: 1rem auto;
//   margin-top: 1rem;
//   margin-left: auto;
//   display: block;
//   border: 0;
//   -webkit-appearance: none;
//   resize: none;
//   font-size: 1.5rem;
//   padding: 1rem;
//   font-family: monospace;
//   margin-top: -90px;
//   margin-left: -20px;
// }

// textarea:focus {
//   outline: none;
// }

// h1 {
//   animation: animate 2s 1;
//   color: red;
// }
// @keyframes animate {
//   0% {
//     transform: scale(0);
//   }
//   100% {
//     transform: scale(1);
//   }
// }

// body {
//   font-family: "Lato", sans-serif;
// }

// .anim-text-banner {
//   //   font-size: 8vw;
//   //   font-size: 1.3vw;
//   font-size: 20px;
//   font-weight: bold;
//   white-space: nowrap;
//   padding: 38px 480px;
//   text-transform: uppercase;
//   font-weight: 400;
//   //   margin-left: -498px;
//   margin-left: -434px;
//   margin-top: -23px;
//   //   font-size: 8vw;
//   // font-size: 4vw;
//   // font-weight: bold;
//   // white-space: nowrap;

//   // padding: 100px 50px;
//   // text-transform: uppercase;
//   // font-weight: 400;
//   > span {
//     position: absolute;
//     display: inline-block;
//     clip: rect(0px, 0px, 300px, 0px);
//     color: white;
//   }
// }

// // .span-linebreak {
// //   display: inline-block;
// // }

// .anim-text-parent {
//   position: relative;
//   //   color: #ff9933;
//   color: #48c3cf;
//   //   margin-left: 56px;
//   //   margin-left: 100px;
//   margin-left: 121px;
//   > .v-bar {
//     position: absolute;
//     width: 0px;
//     height: 0.8em;
//     // height: 1vw;
//     background: #ff9933;
//     background: #48c3cf;
//     display: inline-block;
//     top: 0px;
//     top: -65px;
//     left: -20px;
//     transform: translate(-100%, 450%);
//   }
//   > .anim-text {
//     overflow: hidden;
//     white-space: nowrap;
//     top: 0;
//     left: 0;
//     position: absolute;
//     transition: width 1s ease;
//     clip: rect(0px, 0px, 300px, 0px);
//   }
// }

// .anim-text-banner {
//   white-space: pre;
// }

// body {
//   font-family: "Lato", sans-serif;
// }

// .anim-text-banner {
//   font-size: 2.5vw;
//   font-weight: bold;
//   white-space: nowrap;
//   padding: 58px -34px;
//   text-transform: uppercase;
//   font-weight: 400;
// //   text-align: left;
//   //   font-size: 8vw;
//   //   font-size: 4vw;
//   //   font-weight: bold;
//   //   white-space: nowrap;

//   //   padding: 100px 50px;
//   //   text-transform: uppercase;
//   //   font-weight: 400;
//   > span {
//     position: absolute;
//     display: inline-block;
//     clip: rect(0px, 0px, 300px, 0px);
//     color: white;
//   }
// }

// .anim-text-parent {
//   position: relative;
//   //   color: #ff9933;
//   color: #48c3cf;
//   > .v-bar {
//     position: absolute;
//     width: 0px;
//     height: 0.8vw;
//     // height: 1vw;
//     // background: #ff9933;
//     background: #48c3cf;
//     display: inline-block;
//     // top: 0px;
//     top: -15px;
//     left: -20px;
//     transform: translate(-100%, 450%);
//   }
//   > .anim-text {
//     overflow: hidden;
//     white-space: nowrap;
//     top: 0;
//     left: 0;
//     position: absolute;
//     transition: width 1s ease;
//     clip: rect(0px, 0px, 300px, 0px);
//   }
// }

// body {
//   font-family: "Lato", sans-serif;
// }

// .anim-text-banner {
//     font-size: 8vw;
//   font-size: 4vw;
//   font-weight: bold;
//   white-space: nowrap;

//   padding: 100px 50px;
//   text-transform: uppercase;
//   font-weight: 400;
//   > span {
//     position: absolute;
//     display: inline-block;
//     clip: rect(0px, 0px, 300px, 0px);
//     color: white;
//   }
// }

// .anim-text-parent {
//   position: relative;
//     color: #ff9933;
//   color: #48c3cf;
//   > .v-bar {
//     position: absolute;
//     width: 0px;
//     height: 0.8vw;
//     height: 1vw;
//     background: #ff9933;
//     background: #48c3cf;
//     display: inline-block;
//     top: 0px;
//     top: -15px;
//     left: -20px;
//     transform: translate(-100%, 450%);
//   }
//   > .anim-text {
//     overflow: hidden;
//     white-space: nowrap;
//     top: 0;
//     left: 0;
//     position: absolute;
//     transition: width 1s ease;
//     clip: rect(0px, 0px, 300px, 0px);
//   }
// }

// body{
// 	font-family: 'Lato', sans-serif;
// }

// .anim-text-banner{
// 	font-size: 8vw;
// 	font-weight: bold;
// 	white-space: nowrap;

// 	padding: 100px 50px;
// 	text-transform: uppercase;
// 	font-weight: 400;
// 	>span{
// 		position: absolute;
// 		display: inline-block;
// 		clip: rect(0px, 0px, 300px, 0px);
// 		color: #575757;
// 	}
// }

// .anim-text-parent{
// 	position: relative;
// 	color: #ff9933;
// 	>.v-bar{
// 		position: absolute;
// 		width: 0px;
// 		height: 1vw;
// 		background: #ff9933;
// 		display: inline-block;
// 		top: 0px;
// 		left: -20px;
// 		transform: translate(-100%,450%);
// 	}
// 	>.anim-text{
// 		overflow: hidden;
// 		white-space: nowrap;
// 		top: 0;
// 		left: 0;
// 		position: absolute;
// 		transition: width 1s ease;
// 		clip: rect(0px, 0px, 300px, 0px);
// 	}
// }
