.portfolio-UX01 {
  margin-bottom: 80px;
  @include respond-above(md) {
    width: 101%;
    margin-left: -6px;
  }

  &__container {
    border-radius: 0;
  }

  // &__lable {
  //   z-index: 1;
  //   color: #fff;
  //   padding: 5px 12px;
  //   font-size: 1.1rem;
  //   position: relative;
  //   top: -21px;
  //   background-color: #bf63b9;
  //   text-align: center;
  //   text-decoration: none;

  //   @include respond-above(lg) {
  //     width: 152px;
  //     left: 81%;
  //   }
  //   @include respond-between(md, lg) {
  //     width: 153px;
  //     left: 77%;
  //   }
  //   @include respond-between(sm, md) {
  //     width: 152px;
  //     left: 68%;
  //   }
  //   @include respond-below(sm) {
  //     width: 100%;
  //   }
  // }
}

.portfolio-UX01__l {
  &__img {
    height: 100%;
    object-fit: contain;
    margin-left: 20px;
    float: left;
    width: 100%;
    // height: 500px;

    @include respond-above(lg) {
      // width: 153px;
      // left: 81%;
    }
    @include respond-between(md, lg) {
      // width: 153px;
      // left: 77%;
    }
    @include respond-between(sm, md) {
      // width: 152px;
      // left: 68%;
    }
    @include respond-between(xxs, sm) {
      // // width: 100%;
      // width: 34.5%;
      // margin-right: auto;
      // // margin-left: 325px;
      // margin-left: 70%;
    }
    @include respond-below(xxs) {
      // // width: 100%;
      // width: 36.5%;
      // margin-right: auto;
      // // margin-left: 325px;
      // margin-left: 70%;
    }

    @include respond-below(sm) {
      margin-left: 0px;
    }
  }
  
}

.portfolio-UX01__r {
  &__lable {
    z-index: 1;
    color: #fff;
    padding: 5px 12px;
    font-size: 1.1rem;
    position: relative;
    top: -21px;
    background-color: #bf63b9;
    text-align: center;
    text-decoration: none;

    @include respond-above(lg) {
      width: 153px;
      left: 81%;
    }
    @include respond-between(md, lg) {
      width: 153px;
      left: 77%;
    }
    @include respond-between(sm, md) {
      width: 152px;
      left: 68%;
    }
    @include respond-between(xxs, sm) {
      // width: 100%;
      width: 34.5%;
      margin-right: auto;
      // margin-left: 325px;
      margin-left: 70%;
    }
    @include respond-below(xxs) {
      // width: 100%;
      width: 36.5%;
      margin-right: auto;
      // margin-left: 325px;
      margin-left: 70%;
    }
  }

  &__tag {
    background-color: rgb(90, 75, 191);
    border-radius: 0px;
    display: inline;
    color: #ffffff;
    @include respond-above(md) {
      font-size: 1rem;
      padding: 0.35rem 1.2rem;
    }
    @include respond-between(sm, md) {
      font-size: 0.9rem;
      padding: 0.35rem 0.7rem;
    }
    @include respond-between(xs, sm) {
      font-size: 0.9rem;
      padding: 0.35rem 0.7rem;
    }
    @include respond-between(xxxs, xs) {
      font-size: 0.8rem;
      padding: 0.3rem 0.3rem;
    }
  }

  &__grade {
    padding-top: 16px;
    margin-bottom: -14px;
  }

  &__heading {
    font-size: 1.8rem;
  }

  &__content {
    padding: 16px 0px;
    margin-top: 10px;
  }

  &__project-list {
    margin-left: 45px;
  margin-bottom: 12px;
  }

  &__btn--readMore {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: #bf63b9;
  }

}

.case-study01__r{
  &__checkIcons04 {

  @include respond-above(lg) {
    margin-left: -15px;
  }

  @include respond-below(sm) {
    margin-left: 0px;
  }
}
}

.cs04__container {
  &__row {
    display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -45px;
  margin-left: -31px;
  }
}

.prototype__btn{
&__cs04{
    border: 2px solid !important;
  border-color: white !important;
  background-color: #070C2C!important;
}

}

.case-study01-jumbotron {
  &__heading {
    color: #ffffff;
  background: -webkit-linear-gradient(300deg, #93f5ec 56%, #a77bf3 114%);
    background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}

// color: #ffffff;
//   margin-bottom: 45px;
//   background: -webkit-linear-gradient(300deg, #93f5ec 56%, #a77bf3 114%);
//     background-clip: border-box;
//   background-clip: border-box;
//   -webkit-background-clip: text;
//   background-clip: text;
//   -webkit-text-fill-color: transparent;

// .prototype__btn__04{
//   border: 2px solid;
//     border-top-color: currentcolor;
//     border-right-color: currentcolor;
//     border-bottom-color: currentcolor;
//     border-left-color: currentcolor;
//   border-top-color: currentcolor;
//   border-right-color: currentcolor;
//   border-bottom-color: currentcolor;
//   border-left-color: currentcolor;
//   border-color: white;
//   background-color: #070C2C;
// }

//read more caseStudyInfo1 I=info c02=case02
#more {
  display: none;
}

#moreI2 {
  display: none;
}

#moreI3 {
  display: none;
}

#moreI4 {
  display: none;
}

#moreI5 {
  display: none;
}

#moreI6 {
  display: none;
}

#moreI7 {
  display: none;
}

//read more caseStudyInfo1 A=about c02 c02=case02

#moreA1 {
  display: none;
}

#moreA2 {
  display: none;
}

#moreA3 {
  display: none;
}

#moreA4 {
  display: none;
}

#moreA5 {
  display: none;
}

#moreModalE1 {
  display: none;
}

#moreModalE2 {
  display: none;
}

#moreModalE3 {
  display: none;
}

#moreModalD1 {
  display: none;
}

#moreModalD2 {
  display: none;
}

#moreModalI1 {
  display: none;
}

#moreModalI2 {
  display: none;
}

#moreModalI3 {
  display: none;
}

#moreModalP1 {
  display: none;
}

#moreModalT1 {
  display: none;
}

#moreModalT2 {
  display: none;
}

#moreModalT3 {
  display: none;
}

#moreEmpathiseTab2 {
  display: none;
}

#moreIndexCS1 {
  display: none;
}

#moreIndexCS2 {
  display: none;
}

#moreIndexCS3 {
  display: none;
}

#moreIndexCS4 {
  display: none;
}



//read more caseStudyDetail 1 D=detail c02 c02=case02

#moreAccordionTextE1 {
  display: none;
}

#moreAccordionTextE2 {
  display: none;
}

#moreAccordionTextP1 {
  display: none;
}

#moreAccordionTextP2 {
  display: none;
}

#moreAccordionTextP3 {
  display: none;
}
//   font-size: 1.8rem;;
