.work-education {
  &__img {
    background-image: url("/images/about_me_background_img_01_resize.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
    width: 100%;
    height: 466px;
    margin-bottom: 16px;
    margin-left: 3px;
    max-width: 1109px;
    // @media screen and (max-width: 990px)
    @include respond-below(md) {
      display: none;
    }
  }
  &__row {
    display: block;
  }
  &__chart {
    // @media screen and (min-width: 1200px)
    @include respond-above(lg) {
      width: 60%;
      margin-top: -463px;
      z-index: 1;
      position: relative;
      //   display: flex;
      //   align-self: center;
      margin-left: 253px;
      margin-bottom: 51px;
    }
    // @media screen and (min-width: 991px) and (max-width: 1199px)
    @include respond-between(md, lg) {
      width: 64%;
      margin-top: -444px;
      z-index: 1;
      position: relative;
      margin-left: 199px;
      margin-bottom: 79px;
    }
    // @media screen and (max-width: 990px)
    @include respond-below(md) {
      display: none;
    }
  }
  &__container {
    // @media screen and (min-width: 991px)
    @include respond-above(md) {
      display: none;
    }
    // @media screen and (max-width: 990px)
    @include respond-below(md) {
      //   width: 100%;
      margin-bottom: 10px;
      width: 100%;
    }
  }

  &__content--l {
    // @media screen and (min-width: 768px) and (max-width: 990px)
    @include respond-between(sm, md) {
      //   width: 100%;
      margin-bottom: 10px;
    }
    // @media screen and (max-width: 767px)
    @include respond-below(sm) {
      //   background-color: white;
      margin-bottom: 10px;
    }
  }
  &__content--r {
    // @media screen and (min-width: 768px) and (max-width: 990px)
    @include respond-between(sm, md) {
      padding-right: 0px;
      padding-left: 0px;
      //   width: 100%;
      margin-top: 27px;
    }
    // @media screen and (max-width: 767px)
    @include respond-below(sm) {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  &__img-smallDevice {
    // @media screen and (max-width: 768px)
    @include respond-below(sm) {
      //   width: 100%;
      margin-bottom: 18px;
    }
  }
}

// .work-education__img {
//   background-image: url("/images/about_me_background_img_01_resize.jpeg");
// }
// .work-education__img {
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: contain;
//   opacity: 0.5;
//   width: 100%;
//   height: 466px;
//   margin-bottom: 16px;
//   margin-left: 3px;
//   max-width: 1109px;
// }

// .work-education__chart {
//   width: 60%;
//   margin-top: -463px;
//   z-index: 1;
//   position: relative;
//   display: flex;
//   align-self: center;
//   margin-left: 253px;
//   margin-bottom: 51px;
// }
// .sustainability__bg-img {
//   width: 52%;
//   height: 36px;
//   display: block;
//   margin-top: 59px;
//   margin-top: 10px;
// }
