//--- --- COLOR VARIABLES SECTION: --- ---//
$primary-color: rgb(07, 12, 44);
$secondary-color: rgb(32, 129, 140);
// $tertiary-color: rgb(90, 75, 191);
$tertiary-color: rgb(60, 69, 125);
$pale-blue-color: rgb(165, 214, 255);
$light-blue-color: rgb(72, 195, 207);
$light-purple-color: rgb(90, 75, 191);
$medium-dark-blue-color: rgb(19, 35, 97);
$medium-dark-grey-color: rgb(48, 61, 86);
$light-gray-color: rgb(201, 209, 217);
$pale-gray-color: rgb(129, 147, 178);
$light-green-color: #48c3cf;
$white-color: #ffffff;
$dark-blue-color: #132361;
$red-color: #d2042d;
$off-white-color: #efedea;
$lighten-color: 10;
$darken-color: 25;

//--- --- ANIMATION SPEED VARIABLES SECTION: --- ---//
//FRONT-END SLIDER SECTION:
$animationSpeed: 40s;

//PROJECTS SKILLS FRONTEND ANIMATION SECTION:
$speed: 0.35s;
