.breadcrumb {
  margin-top: 50px;
  margin-top: 183px;
  margin-bottom: -183px;
  background-color: #070c2c !important;
  background-color: none !important;
  background-color: transparent !important;
  margin-top: -48px;
  margin-bottom: -190px;
  background-color: #070c2c !important;
  background-color: none !important;
  background-color: #070c2c;
  background-color: rgb(7, 12, 44);
  position: fixed;
  width: 92%;
  z-index: 2;
  margin-left: -13px;
  border: none !important;
  // margin-top: -123px;
  @include respond-between(md, lg) {
    margin-top: -50px;
  }
  @include respond-between(sm, md) {
    margin-top: -122px;
  }

  @include respond-below(sm) {
    margin-top: -122px;
    width: 100%;
  }
  &__styling {
    // background-color: #070c2c !important;
    // background-color: none !important;
    // background-color: transparent !important;
    background-color: #070c2c !important;
    color: #1ed0d0 !important;
  }
  .breadcrumb-item {
    &__active {
      color: white;
      text-decoration: underline;
    }
  }
}

.case-study01-jumbotron {
  &__empathise-main-img {
    background-image: url("/images/flex_fit_img_empathise01.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }

  &__empathise-main-imgCS02 {
    background-image: url("/images/xplore_img_CS02_empathise01_v1.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }

  &__empathise-main-imgCS03 {
    background-image: url("/images/easylift_img_CS02_empathise01_v1.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }


  &__define-main-img {
    background-image: url("/images/flex_fit_img_define01.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }

  &__define-main-imgCS02 {
    background-image: url("/images//xplore_img_CS02_define_01.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }

  
  &__define-main-imgCS03 {
    background-image: url("/images/easylift_img_CS03_define_01.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }


  &__ideate-main-img {
    background-image: url("/images/flex_fit_img_ideate01.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }

  &__ideate-main-imgCS02 {
    background-image: url("/images/xplore_img_CS02_ideate_01.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }

  &__ideate-main-imgCS03 {
    background-image: url("/images/easylift_img_ideate01.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }

  &__prototype-main-img {
    background-image: url("/images/flex_fit_img_prototype01.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }

  &__prototype-main-imgCS02 {
    background-image: url("/images/xplore_img_CS02_prototype_01.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }

  &__prototype-main-imgCS03 {
    background-image: url("/images/easylift_img_CS02_prototype_01.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }


  &__test-main-img {
    background-image: url("/images/flex_fit_img_test01.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }

  &__test-main-imgCS02 {
    background-image: url("/images/xplore_img_CS02_test_01.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }

  &__test-main-imgCS03 {
    background-image: url("/images/easylift_img_CS02_test_01.jpg");
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    // height: 188px;
    margin-top: 218px;
    background-position: 0% 0% !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    // height: 550px;
    @include respond-above(lg) {
      height: 550px;
    }
    @include respond-between(md, lg) {
      height: 450px;
    }
    @include respond-between(sm, md) {
      height: 344px;
    }
    @include respond-below(sm) {
      height: 344px;
    }
  }

  &__info-text-container {
    @include respond-between(sm, md) {
      top: 45%;
      left: 38%;
    }
  }
}

/************************************** Style the tab ***************************/
.tab {
  overflow: hidden;
  //   border: 1px solid #ccc;
  background-color: #646673;

  &__container {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -54px;
    background-color: #434552;
    color: white;
  }
}

// .tab-container {
//   margin-left: 25px;
//   margin-right: 25px;
//   margin-top: -54px;
//   background-color: #434552;
//   color: white;
// }

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  text-decoration: underline;
  color: #1ed0d0 !important;
  color: #646673;
}

/* Create an active/current tablink class */
.tab button.TabActive {
  text-decoration: underline;
  // color: #1ed0d0;
  color: #1ed0d0 !important;
  // color: #646673;
  background-color: #646673 !important;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  //   border: 1px solid #ccc;
  border-top: none;
}

/*********************** The Modal (background) ************************/
.modal,
.modald1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content,
.modal-contentd1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close,
.closeE2,
.closeE3,
.closeD1,
.closed2,
.closeI1,
.closeI2,
.closeI3,
.closeP1,
.closeT1,
.closeT2,
.closeT3 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeE2:hover,
.closeE2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeE3:hover,
.closeE3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeD1:hover,
.closeD1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeD2:hover,
.closeD2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeI1:hover,
.closeI1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeI2:hover,
.closeI2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeI3:hover,
.closeI3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeP1:hover,
.closeP1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeT1:hover,
.closeT1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeT2:hover,
.closeT2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.closeT3:hover,
.closeT3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
// .empathise {
//   height: 75% !important;
//   margin-left: 10px !important;
// }

.modal-empathise {
  &__img-container,
  &__img-containerE2 {
    height: 75% !important;
    margin-left: 10px !important;
    margin-bottom: 10px !important;
  }

  &__btn {
    padding: -0.2rem 3rem !important;
  }
}

/* accordion*/

.short-hikes-trip__heading h2,
.short-hikes-flipCard__heading h2,
.short-hikes-accordion__heading h2,
.homepage-popular-hikes__heading h2,
.short-hikes__heading h2,
.long-hikes__heading h2,
.long-hikes-flipCard__heading h2,
.camping-hikes-flipCard__heading h2,
.long-hikes-accordion__heading h2,
.camping-hikes__heading h2,
.camping-hikes-accordion__heading h2,
.sustainability__heading h2,
.travel-info__heading h2 {
  text-align: center;
  font-size: 43px;
  color: #132361;
}

.long-hikes-accordion__heading {
  margin-top: 52px;
}
/************short hike info accodrion**************/

.accordion {
  background-color: #1ed0d0 !important;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.activeAccordion {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeAccordion:hover,
.accordion:hover {
  background-color: #00b9b9 !important;
}

.activeAccordion,
.dot:hover {
  background-color: #00b9b9 !important;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.accordion:after {
  content: "\002B";
  color: #a5ecec;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion_contact-info a {
  color: #007a77;
}

.panel p {
  font-size: 16px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: #707070;
}

@media screen and (max-width: 850px) {
  .accordion {
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  .accordion {
    padding: 22px;
  }
}

.accordion_container {
  width: 101.4%;
  margin-left: -9px;
  height: 100%;
  text-align: center;
}
// width:100%;
// height:300px;
// background-color:#FFFFFF;
// border:5px solid;
// border-width: thick;
